.proyecto_real{
	inline-size: 100%;
	block-size: auto;
}
@media only screen and (min-width: 600px){
	.proyecto_real{
		padding-inline-start:3rem ;
		padding-inline-end: 3rem;
	}
}
@media only screen and (min-width: 800px){
	.proyecto_real{
		padding-inline-start:3.5rem ;
		padding-inline-end: 3.5rem;
	}
}
@media only screen and (min-width: 950px){
	.proyecto_real{
		padding-inline-start:5rem ;
		padding-inline-end: 5rem;
	}
}
@media only screen and (min-width: 1000px){
	.proyecto_real{
		padding-inline-start:6.5rem ;
		padding-inline-end: 6.5rem;
	}
}
/*Capa superior que se hacen 2*/

/*contenedor e imagen*/
.proyecto_real_content{
	display:flex;
	flex-direction: column;
	align-items: center;
}
@media only screen and (min-width: 800px){
	.proyecto_real_content{
		flex-direction: row;
	}
}
@media only screen and (min-width: 800px){
	.proyecto_real_content.reverse{
		flex-direction: row-reverse;
	}
}
.proyecto_real_content > .proyecto_real_content_imagen{
	inline-size: 100%;
	block-size: 12.32rem;
	padding-inline-start:1rem ;
	padding-inline-end: 1rem;
}
@media only screen and (min-width: 600px){
	.proyecto_real_content > .proyecto_real_content_imagen{
		inline-size: 80%;
		block-size: 17.32rem;
	}
}
@media only screen and (min-width: 800px){
	.proyecto_real_content > .proyecto_real_content_imagen{
		inline-size: 75%;
		block-size: 20rem;
	}
}
@media only screen and (min-width: 950px){
	.proyecto_real_content > .proyecto_real_content_imagen{
		inline-size: 60%;
		block-size: 23rem;
	}
}


.proyecto_real_content > .proyecto_real_content_imagen.second{
	block-size: 20rem;
}
.proyecto_real_content > .proyecto_real_content_imagen.tercer{
	block-size: 30rem;
}
.proyecto_real_content > .proyecto_real_content_imagen img{
	width: 100%;
	height: 100%;
}
/*comienza parte de los elementos*/
.proyecto_real_elementos{
	padding-block-start:2.5rem ;
	padding-block-end: 2.5rem;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
}
.proyecto_real_elementos > p{
	margin-block-start:1rem ;
	margin-block-end: 1.4rem;
}
.es_secundario{
	margin-block-end: 1rem;
}
.proyecto_real_elementos .center{
	display: block;
	width: 100%;
}

/*bloque con fondo casi transparente*/
.proyecto_real_burbuja{
	margin-block-start: 2.5rem;
	margin-block-end: 5rem;
	margin-inline-start: 1rem;
	margin-inline-end: 1rem;
	block-size: auto;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1.5rem;
	padding-block-start: 1.5rem;
	padding-block-end: 1.5rem;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(39.7657px);
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.proyecto_real_burbuja_imagen{
	width: 4rem;
	height: 4rem;
	border-radius:100% ;
	margin-block-end: 1.5rem;
}
.proyecto_real_burbuja_imagen > img{
	width: 100%;
	height: 100%;
}
.proyecto_real_burbuja_descripcion{
	font: var(--cuerpoCero);
	margin-block-end: 1.5rem;
}
.proyecto_real_burbuja_info{
	font: var(--caption);
	opacity: 0.5;
}